@import "variables.scss";

@mixin blue-hover {
  background: $blue;
  color: $headline-color-white;
  &:hover {
    background: $blue-hover;
  }
}

@mixin green-hover {
  background: $green;
  color: $headline-color-black;
  &:hover {
    background: $green-hover;
  }
}

@mixin grey-hover {
  background: $grey;
  color: $headline-color-white;
  &:hover {
    background: $grey-hover;
  }
}

@mixin def-btn {
  color: $headline-color-white;
  border-radius: $border-radius;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: background 0.2s;
  padding: 6px 20px;
  font-family: $def-font;
  font-weight: bold;
  font-size: 18px;
}

button {
  @include def-btn;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: $headline-color-white;
}

::-webkit-scrollbar-thumb {
  border: 2px solid $headline-color-white;
  border-radius: 5px;
  background: linear-gradient(to top, $gradient-1);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, $gradient-2);}