@import "variables.scss";
@font-face {
  font-family: defaultFont;
  src: url('fonts/HWNuckle.otf') format('otf');
}

@mixin blue-hover {
  background: $blue;
  color: $headline-color-white;
  &:hover {
    background: $blue-hover;
  }
}

@mixin green-hover {
  background: $green;
  color: $headline-color-black;
  &:hover {
    background: $green-hover;
  }
}

@mixin grey-hover {
  background: $grey;
  color: $headline-color-white;
  &:hover {
    background: $grey-hover;
  }
}

@mixin def-btn {
  color: $headline-color-white;
  border-radius: $border-radius;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: background 0.2s, width 0.2s;
  font-family: $def-font;
  font-weight: bold;
}

@mixin headlineHuge {
  color: $headline-color-white;
  font-size: 52px;
  font-weight: bold;
}
@mixin section-btn {
  padding: 10px 22px;
  font-size: 16px;
}
@mixin sectionParagraph {
  color: $text-color-2;
  font-size: 16px;
  line-height: 30px;
}

button {
  @include def-btn;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: $headline-color-white;
}

::-webkit-scrollbar-thumb {
  border: 2px solid $headline-color-white;
  border-radius: 5px;
  background: linear-gradient(to top, $gradient-1);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, $gradient-2);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes fadeInC {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes msg1 {
  0%,100% {
    box-shadow: 0 0 9px 4px $accent-4-t;
    transform: scale(1) rotate(-25deg) translate(-55px, -55px);
  }
  33% {
    box-shadow: 0 0 12px 5px $accent-4-t;
    transform: scale(1.03) rotate(-24deg) translate(-56px, -53px);
  }
  66% {
    box-shadow: 0 0 7px 3px $accent-4-t;
    transform: scale(0.97) rotate(-27deg) translate(-54px, -58px);
  }
}
@keyframes msg2 {
  0%,100% {
    box-shadow: 0 0 9px 4px $accent-4-t;
    transform: scale(1) rotate(22deg) translate(55px, 15px);
  }
  33% {
    box-shadow: 0 0 7px 3px $accent-4-t;
    transform: scale(0.97) rotate(23deg) translate(56px, 14px);
  }
  66% {
    box-shadow: 0 0 12px 5px $accent-4-t;
    transform: scale(1.03) rotate(20deg) translate(53px, 17px);
  }
}
