<h1>Find Common Servers</h1>
<form action="/user" method="GET">
    <label for="user-id">Enter user ID:</label>
    <input type="text" id="user-id" name="user-id">
    <button type="submit">Find common servers</button>
</form>
