<section class="section section-ui">
    <div class="ui-discord">

    </div>
    <h1>Find Common Servers</h1>
    <form action="/user" method="GET">
        <label for="uid">Enter user ID:</label>
        <input type="text" required id="uid" name="uid">
        <button class="submit-btn" type="submit">Find common servers</button>
    </form>

</section>




