<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
<header>
    header
</header>

<main>
    <%- include(body) %>
</main>

<footer>
    footer
</footer>
</body>
</html>