<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/public/normalizer.css">
    <link rel="stylesheet" href="/public/style.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
<header class="header">
    <div class="h-left">
        <div class="h-logo"></div>
    </div>
    <nav class="h-right">
        <a href="" class="h-link">Try It</a>
        <a href="" class="h-link">About</a>
        <button class="h-btn">Source</button>
    </nav>
</header>

<main>
    <%- include(body) %>
</main>

<footer>
    footer
</footer>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="public/js/init.js"></script>
<script src="public/js/script.js"></script>
</html>